version: 2.1

executors:
  docker_executor:
    docker:
      - image: docker:19.03.12

commands:
  test_steps:
    steps:
      - setup_remote_docker
      - run:
          name: Verify docker is installed
          command: docker run hello-world
      - run:
          name: Verify environment is set up correctly
          command: |
            pwd
            ls -la
            echo $DISPLAY
            echo ${DISTRO_TAG}
            # Generate .Xauthority file.
            touch ~/.Xauthority
            cat ~/.Xauthority
      - run:
          name: Set up container and build prometheus
          command: |
            # Retrieve image.
            docker pull jdtaylor7/prometheus:latest-${DISTRO_TAG}
            # Create dummy container to hold volume.
            docker create -v /home/circleci --name configs jdtaylor7/prometheus:latest-${DISTRO_TAG} /bin/true
            # Copy Xauthority config into dummy volume.
            docker cp ~/.Xauthority configs:/home/circleci/.Xauthority
            # Run container and build prometheus.
            docker run -it --rm --network=host --volumes-from configs -e DISPLAY=$DISPLAY jdtaylor7/prometheus:latest-${DISTRO_TAG} /bin/sh -c " \
                cd prometheus && \
                ./build.sh -t -e prometheus && \
                ./build/prometheus"

jobs:
  test_archlinux:
    executor: docker_executor
    environment:
      - DISTRO_TAG: archlinux
    steps:
      - test_steps
  test_ubuntu:
    executor: docker_executor
    environment:
      - DISTRO_TAG: ubuntu
    steps:
      - test_steps

workflows:
  version: 2.1
  test_all:
    jobs:
      - test_archlinux
      - test_ubuntu
